<a href="https://colab.research.google.com/github/Omar-Vi24/Modelos-estad-sticos/blob/main/Uniforme_discreta_Lanzamiento_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Lanzamiento de dos dados

## Diccionario

$$\{\text{key}:\text{values}\}.$$

In [3]:
d= {"Omar": ["Max", "Jake", "Charly"],
    "Alan": [3, 10, 12],
    "Gal": [7-0, 5.0, 6.0]}

In [4]:
type(d)

dict

In [5]:
d.keys()

dict_keys(['Omar', 'Alan', 'Gal'])

In [6]:
d.values()

dict_values([['Max', 'Jake', 'Charly'], [3, 10, 12], [7, 5.0, 6.0]])

In [7]:
d.items()

dict_items([('Omar', ['Max', 'Jake', 'Charly']), ('Alan', [3, 10, 12]), ('Gal', [7, 5.0, 6.0])])

## Se lanzan dos dados justos:

- $\Omega = \{1,2,3,4,5,6\}\times \{1,2,3,4,5,6 \}$
- $\mathcal{F}=p(\Omega)$.
-Para $\omega=(i,j)$ donde $i, j=1, \dots, 6$
$$\mathbb{P}(\{\omega\})=\frac{1}{36}.$$

-----

## Vamos a definir a la siguiente variable aleatoria:
$S$ es la variable aleatoria que cuenta la suma de las caras de los dados.

$$S:\Omega \to R_{S}=\{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12\}$$

Para entender a la ley de la variable aleatoria, basta con entender a los siguientes datos:
$$\{(k, \mathbb{P}(S=k)) \}_{k_in R_{S}}.$$

In [8]:
from itertools import product
from fractions import Fraction

In [9]:
def P(A, Omega):
  P = Fraction(len(A), len(Omega) )
  return P

$$S_{n}=\{(i,j)\in \Omega : i+j =n \}=$$

In [10]:
S_2 = {(i, j) for i in range(1,7) for j in range(1,7) if i+j == 2}
S_2

{(1, 1)}

In [11]:
L = [i for i in range(1,7)]

print (L)

Omega = set(product(L, repeat =2))
Omega

[1, 2, 3, 4, 5, 6]

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

In [12]:
S = {(i,j): i+j for i,j in Omega}

S

{(3, 4): 7,
 (4, 3): 7,
 (3, 1): 4,
 (5, 4): 9,
 (4, 6): 10,
 (5, 1): 6,
 (2, 2): 4,
 (1, 6): 7,
 (2, 5): 7,
 (1, 3): 4,
 (6, 2): 8,
 (6, 5): 11,
 (4, 2): 6,
 (4, 5): 9,
 (3, 3): 6,
 (5, 6): 11,
 (3, 6): 9,
 (5, 3): 8,
 (2, 4): 6,
 (1, 2): 3,
 (2, 1): 3,
 (1, 5): 6,
 (6, 1): 7,
 (6, 4): 10,
 (3, 2): 5,
 (4, 1): 5,
 (3, 5): 8,
 (5, 2): 7,
 (4, 4): 8,
 (5, 5): 10,
 (1, 1): 2,
 (1, 4): 5,
 (2, 3): 5,
 (2, 6): 8,
 (6, 6): 12,
 (6, 3): 9}

In [13]:
from collections import defaultdict

dS = defaultdict(set)
dS

defaultdict(set, {})

In [14]:
for l, v in S.items():
  dS[v].add(l)

In [15]:
dS

defaultdict(set,
            {7: {(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)},
             4: {(1, 3), (2, 2), (3, 1)},
             9: {(3, 6), (4, 5), (5, 4), (6, 3)},
             10: {(4, 6), (5, 5), (6, 4)},
             6: {(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)},
             8: {(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)},
             11: {(5, 6), (6, 5)},
             3: {(1, 2), (2, 1)},
             5: {(1, 4), (2, 3), (3, 2), (4, 1)},
             2: {(1, 1)},
             12: {(6, 6)}})

In [16]:
leyS = {k : P(A,Omega) for k , A in dS.items() }
leyS

{7: Fraction(1, 6),
 4: Fraction(1, 12),
 9: Fraction(1, 9),
 10: Fraction(1, 12),
 6: Fraction(5, 36),
 8: Fraction(5, 36),
 11: Fraction(1, 18),
 3: Fraction(1, 18),
 5: Fraction(1, 9),
 2: Fraction(1, 36),
 12: Fraction(1, 36)}

##Introducción a pandas.

In [17]:
import pandas as pd

In [18]:
leyS = pd.Series(leyS)
leyS = leyS.sort_index()

In [19]:
leyS

2     1/36
3     1/18
4     1/12
5      1/9
6     5/36
7      1/6
8     5/36
9      1/9
10    1/12
11    1/18
12    1/36
dtype: object

### Ejercicios:
1.- Documenta tu colab.

2.- Calcula la ley de las siguientes variables aleatorias:

1.          - La diferencia de las caras sea mayor que $1$.

    - La suma de las caras sea par.

3.- Verifica, en cada caso, que $$\sum_{k\in R_{X}}\mathbb{P}(X=x)=1.$$

4.- Sube tu notebook a tu GitHub.

##Tarea

##Omar Alejandro Villanueva Ortega

1.
Nombremos a $Q$ la variable aleatoria de la diferencia de las caras de los dados.

$$Q:\Omega \to R_{Q}=\{-5, -4, -3, -2, -1, 0, 1,2, 3,4,5 \}$$

In [20]:
Q = {(i,j): (i-j) for i,j in Omega }

Q

{(3, 4): -1,
 (4, 3): 1,
 (3, 1): 2,
 (5, 4): 1,
 (4, 6): -2,
 (5, 1): 4,
 (2, 2): 0,
 (1, 6): -5,
 (2, 5): -3,
 (1, 3): -2,
 (6, 2): 4,
 (6, 5): 1,
 (4, 2): 2,
 (4, 5): -1,
 (3, 3): 0,
 (5, 6): -1,
 (3, 6): -3,
 (5, 3): 2,
 (2, 4): -2,
 (1, 2): -1,
 (2, 1): 1,
 (1, 5): -4,
 (6, 1): 5,
 (6, 4): 2,
 (3, 2): 1,
 (4, 1): 3,
 (3, 5): -2,
 (5, 2): 3,
 (4, 4): 0,
 (5, 5): 0,
 (1, 1): 0,
 (1, 4): -3,
 (2, 3): -1,
 (2, 6): -4,
 (6, 6): 0,
 (6, 3): 3}

In [21]:
dQ = defaultdict(set)
dQ

defaultdict(set, {})

In [22]:
for l, v in Q.items():
  dQ[v].add(l)

In [23]:
dQ

defaultdict(set,
            {-1: {(1, 2), (2, 3), (3, 4), (4, 5), (5, 6)},
             1: {(2, 1), (3, 2), (4, 3), (5, 4), (6, 5)},
             2: {(3, 1), (4, 2), (5, 3), (6, 4)},
             -2: {(1, 3), (2, 4), (3, 5), (4, 6)},
             4: {(5, 1), (6, 2)},
             0: {(1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6)},
             -5: {(1, 6)},
             -3: {(1, 4), (2, 5), (3, 6)},
             -4: {(1, 5), (2, 6)},
             5: {(6, 1)},
             3: {(4, 1), (5, 2), (6, 3)}})

In [24]:
leyQ = {k : P(A,Omega) for k , A in dQ.items() }
leyQ

{-1: Fraction(5, 36),
 1: Fraction(5, 36),
 2: Fraction(1, 9),
 -2: Fraction(1, 9),
 4: Fraction(1, 18),
 0: Fraction(1, 6),
 -5: Fraction(1, 36),
 -3: Fraction(1, 12),
 -4: Fraction(1, 18),
 5: Fraction(1, 36),
 3: Fraction(1, 12)}

In [25]:
leyQ = pd.Series(leyQ)
leyQ = leyQ.sort_index()

In [26]:
leyQ

-5    1/36
-4    1/18
-3    1/12
-2     1/9
-1    5/36
 0     1/6
 1    5/36
 2     1/9
 3    1/12
 4    1/18
 5    1/36
dtype: object

Ahora verificaremos que:
$$\sum_{k\in R_{Q}}\mathbb{P}(X=x)=1.$$

In [27]:
leyQ.sum()

Fraction(1, 1)

Ahora obtendremos las diferencias de las caras que sean mayores a 1

In [28]:
Q1 = {(i,j): (i-j) for i,j in Omega if i-j >1 }

Q1

{(3, 1): 2,
 (5, 1): 4,
 (6, 2): 4,
 (4, 2): 2,
 (5, 3): 2,
 (6, 1): 5,
 (6, 4): 2,
 (4, 1): 3,
 (5, 2): 3,
 (6, 3): 3}

In [29]:
dQ1 = defaultdict(set)
dQ1

defaultdict(set, {})

In [30]:
for l, v in Q1.items():
  dQ1[v].add(l)

In [31]:
dQ1

defaultdict(set,
            {2: {(3, 1), (4, 2), (5, 3), (6, 4)},
             4: {(5, 1), (6, 2)},
             5: {(6, 1)},
             3: {(4, 1), (5, 2), (6, 3)}})

In [32]:
leyQ1 = {k : P(A,Omega) for k , A in dQ1.items() }
leyQ1

{2: Fraction(1, 9), 4: Fraction(1, 18), 5: Fraction(1, 36), 3: Fraction(1, 12)}

In [33]:
leyQ1 = pd.Series(leyQ1)
leyQ1 = leyQ1.sort_index()

Por tanto, estás son las éstas son las diferencias que son mayores a 1

In [34]:
leyQ1

2     1/9
3    1/12
4    1/18
5    1/36
dtype: object

Entonces si queremos obtener la P(Q>1) tenemos que:

In [35]:
leyQ1.sum()

Fraction(5, 18)

2. Ahora nombremos a $T$ la variable aleatoria de la suma de las caras de los dados.

$$T:\Omega \to R_{T}=\{2,3,4,5,6,7,8,9,10,11,12\}$$

In [36]:
T = {(i,j): i + j for i,j in Omega }

T

{(3, 4): 7,
 (4, 3): 7,
 (3, 1): 4,
 (5, 4): 9,
 (4, 6): 10,
 (5, 1): 6,
 (2, 2): 4,
 (1, 6): 7,
 (2, 5): 7,
 (1, 3): 4,
 (6, 2): 8,
 (6, 5): 11,
 (4, 2): 6,
 (4, 5): 9,
 (3, 3): 6,
 (5, 6): 11,
 (3, 6): 9,
 (5, 3): 8,
 (2, 4): 6,
 (1, 2): 3,
 (2, 1): 3,
 (1, 5): 6,
 (6, 1): 7,
 (6, 4): 10,
 (3, 2): 5,
 (4, 1): 5,
 (3, 5): 8,
 (5, 2): 7,
 (4, 4): 8,
 (5, 5): 10,
 (1, 1): 2,
 (1, 4): 5,
 (2, 3): 5,
 (2, 6): 8,
 (6, 6): 12,
 (6, 3): 9}

In [37]:
dT = defaultdict(set)
dT

defaultdict(set, {})

In [38]:
for l, v in T.items():
  dT[v].add(l)

In [39]:
dT

defaultdict(set,
            {7: {(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)},
             4: {(1, 3), (2, 2), (3, 1)},
             9: {(3, 6), (4, 5), (5, 4), (6, 3)},
             10: {(4, 6), (5, 5), (6, 4)},
             6: {(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)},
             8: {(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)},
             11: {(5, 6), (6, 5)},
             3: {(1, 2), (2, 1)},
             5: {(1, 4), (2, 3), (3, 2), (4, 1)},
             2: {(1, 1)},
             12: {(6, 6)}})

In [40]:
leyT = {k : P(A,Omega) for k , A in dT.items() }
leyT

{7: Fraction(1, 6),
 4: Fraction(1, 12),
 9: Fraction(1, 9),
 10: Fraction(1, 12),
 6: Fraction(5, 36),
 8: Fraction(5, 36),
 11: Fraction(1, 18),
 3: Fraction(1, 18),
 5: Fraction(1, 9),
 2: Fraction(1, 36),
 12: Fraction(1, 36)}

In [41]:
leyT = pd.Series(leyT)
leyT = leyT.sort_index()

In [42]:
leyT

2     1/36
3     1/18
4     1/12
5      1/9
6     5/36
7      1/6
8     5/36
9      1/9
10    1/12
11    1/18
12    1/36
dtype: object

Verficaremos que:
$$\sum_{k\in R_{Y}}\mathbb{P}(X=x)=1.$$

In [43]:
leyT.sum()

Fraction(1, 1)

Ahora obtendremos la suma de las caras que den como resultado un número par:

In [44]:
T1 = {(i,j): i + j for i,j in Omega if (i+j)% 2 == 0 }

T1

{(3, 1): 4,
 (4, 6): 10,
 (5, 1): 6,
 (2, 2): 4,
 (1, 3): 4,
 (6, 2): 8,
 (4, 2): 6,
 (3, 3): 6,
 (5, 3): 8,
 (2, 4): 6,
 (1, 5): 6,
 (6, 4): 10,
 (3, 5): 8,
 (4, 4): 8,
 (5, 5): 10,
 (1, 1): 2,
 (2, 6): 8,
 (6, 6): 12}

In [45]:
dT1 = defaultdict(set)
dT1

defaultdict(set, {})

In [46]:
for l, v in T1.items():
  dT1[v].add(l)

In [47]:
dT1

defaultdict(set,
            {4: {(1, 3), (2, 2), (3, 1)},
             10: {(4, 6), (5, 5), (6, 4)},
             6: {(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)},
             8: {(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)},
             2: {(1, 1)},
             12: {(6, 6)}})

In [48]:
leyT1 = {k : P(A,Omega) for k , A in dT1.items() }
leyT1

{4: Fraction(1, 12),
 10: Fraction(1, 12),
 6: Fraction(5, 36),
 8: Fraction(5, 36),
 2: Fraction(1, 36),
 12: Fraction(1, 36)}

In [49]:
leyT1 = pd.Series(leyT1)
leyT1 = leyT1.sort_index()

Por lo tanto, los resultados donde la suma de las caras de los dados da un número par son:

In [50]:
leyT1

2     1/36
4     1/12
6     5/36
8     5/36
10    1/12
12    1/36
dtype: object

Por lo tanto, la probabilidad de que T sea un número par es:

$$P(T = número \ par)$$

In [52]:
leyT1.sum()

Fraction(1, 2)